<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>topbar component</title>
  </head>

  <!-- <link rel="stylesheet" href="../style.css" /> -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />

  <link rel="stylesheet" href="topbar-sub.css" />

  <body>
    <div class="topbar-sub" id="id_sub">
      <div class="topbar-sub-left">
        <a href="/"><p id="exit">exit</p></a>
        <i class="fa-solid fa-arrow-right-to-bracket icon-exit"></i>
      </div>
      <div class="topbar-sub-center">
        <div id="profile-tab">
          <h1 id="profie-tab-title">Not logged in</h1>
        </div>
      </div>

      <div id="line-col"></div>

      <div class="topbar-sub-right">
        <div class="part1">
          <h1 id="title-time">Good evenning</h1>
          <p id="title-date">28.07.2024 | 15:02</p>
        </div>

        <div class="part2">
          <img src="./assets/imgs/logo_1.png" alt="Logo" class="logo_2" />
        </div>
      </div>
    </div>

    <script src="topbar-sub.js"></script>
  </body>
</html>
