<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>topbar component</title>
  </head>

  <link rel="stylesheet" href="./topbar.css" />

  <body>
    <div class="topbar">
      <div class="topbar-left">
        <button class="topside-btn">العربية</button>
        <button class="topside-btn">Русский</button>
        <button class="topside-btn">English</button>
        <button class="topside-btn">עברית</button>
      </div>

      <div class="topbar-center">
        <!-- <button class="rounded btn1"><i class="fa fa-search"></i></button> -->
        <a href="../contact/contact_us.html">
          <button id="contact" class="rounded btn2">Contact</button>
        </a>
        <a href="#section-section7">
          <button class="rounded btn1">Family</button>
        </a>
      </div>
      <div class="topbar-right">
        <p id="user-name">Not Logged in</p>
        <div id="line-col-small"></div>
        <a href="/"
          ><img src="./assets/imgs/logo_2.png" alt="Logo" class="logo"
        /></a>
        <!-- <i class="fa-solid fa-bars sidebar-icon" alt="Logo" id="menu-btn"></i> -->
      </div>
    </div>
    <div class="line-temp"></div>
    <!-- <div class="line-temp"></div> -->
    <script src="topbar.js"></script>
  </body>
</html>
