<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer component</title>
  </head>

  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    rel="stylesheet"
  />

  <!-- <link href="footer.css" rel="stylesheet" /> -->

  <body>
    <div class="footer">
      <div class="bottom-container">
        <!-- Reservations Section -->
        <div class="section">
          <h3>Appointments</h3>
          <p>Please call <strong>(887) 654-3210</strong>.</p>
        </div>

        <!-- Address Section -->
        <div class="section">
          <h3>Address</h3>
          <p>4321 Israel St,</p>
          <p>Haifa, PR 12345</p>
        </div>

        <!-- Opening Hours Section -->
        <div class="section">
          <h3>Opening Hours</h3>
          <p>Fri-Sat: 5:00 PM - 11:00 PM</p>
          <p>Sun-Thurs: 11:00 AM - 11:00 PM</p>
        </div>
      </div>

      <!-- Footer -->
      <div class="footer-bottom">
        <!-- Left side: Text and Reserved -->
        <div class="footer-bottom-left">
          <p>&copy; 2025 MedicAI. All rights reserved.</p>
        </div>

        <!-- Right side: Social Media Icons -->
        <div class="footer-bottom-right">
          <i class="fab fa-facebook facebook"></i>
          <i class="fab fa-instagram instagram"></i>
          <i class="fab fa-twitter twitter"></i>
        </div>
      </div>
    </div>

    <!-- <script src="footer.js"></script> -->
  </body>
</html>
